<strong>Olá, tudo bem?</strong>

<p>Você foi convidado para o evento: {{ title }}</p>

<p>O evento acontecerá no local: {{location}}</p>
<p>No dia: {{date}} às {{time}}</p>

<p>Contamos com a sua presença!</p>
